.contenedor{
display: flex;
flex-flow: row-reverse;
justify-content: center;
align-items: center;
background-color: rgb(255, 255, 255);
margin: auto;
padding: auto;
width: 400px;
height: 400px;
border:solid 4px black;
}

.div1 {
    background-color: blue;
    width: 33.3%;
    height: 133px;
    font-size: 30px;
display: flex;
justify-content: center;
}
.div2{
    background-color: slateblue;
    width: 33.3%;
    height: 133px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.div3{
    background-color: red;
    width: 33.3%;
    height: 134px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

p{
    color: yellow;
}